:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #1d2434;
  --yellow: #d5b981;
  --gray: #797979;

  --social-background: #1d2434;
  --social-hover: #d5b981;
  --social-border: #ffffff26;

  --header-background: #1d2434;
  --header-button: #8e929a;

  --hero-background: #d5b981;
  --hero-foreground: #1d2434;

  --footer-background: #1d2434;
  --footer-title: #d5b981;
  --footer-text: #797979;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (max-width: 1366px) {
  html {
    max-width: 1366px;
    font-size: 80%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--gray-50);
}

body,
input,
textarea,
button {
  color: var(--gray-500);
  font: 500 1rem 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

button {
  cursor: pointer;
}
