.header {
  background-color: var(--blue);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  position: fixed;
  z-index: 9999;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  max-width: 1366px;
  a {
    text-decoration: none;
  }

  h1 {
    color: var(--white);
    font-size: 3.1rem;

    span {
      margin-left: 1rem;
      font-weight: bolder;
    }
  }

  ul {
    position: absolute;
    top: 75px;
    left: 0;
    z-index: 9999;
    height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    background-color: var(--blue);
    width: 100%;
    padding: 0 1rem;
    list-style: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);

    li {
      @media screen and (min-width: 960px) {
        display: inline-block;
      }
    }

    a {
      color: var(--white);
      text-decoration: none;
      display: block;
      padding: 1rem;
      font-size: 1.2rem;
      transition: 0.35s ease-in-out background-color;

      &.active {
        background-color: rgba(255, 255, 255, 0.1);
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        transition: 0.25s ease-out background-color;
      }

      @media screen and (min-width: 960px) {
        display: inline-block;
        text-transform: uppercase;
      }
    }

    &.isOpen {
      height: 346px;

      @media screen and (min-width: 960px) {
        height: auto;
      }
    }

    @media screen and (min-width: 960px) {
      position: static;
      width: auto;
      height: auto;
      background-color: transparent;
      box-shadow: none;
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-100);
    background-color: transparent;
    border: 1px solid var(--gray-100);
    border-radius: 2px;
    padding: 0.5rem 0.8rem;
    outline: none;
    font-size: 1.8rem;

    @media screen and (min-width: 960px) {
      display: none;
    }
  }

  @media screen and (min-width: 960px) {
    padding: 0 4rem;
    background-color: rgba(0, 0, 0, 0.2);
    top: 60px;
    z-index: 2;
    transition: 0.45s ease-in-out;
    box-shadow: none;

    &.isScrolled {
      top: 0;
      height: 60px;
      background-color: var(--blue);
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    }
  }
}
